{% extends "layout.njk" %}

{% block content %}

<div class="not-found">
    <h2>Erro 404</h2>
    <p>There's only the baby yoda here!</p>
    <img src="https://i.pinimg.com/originals/32/da/dd/32dadd44fdd0f3ae85fa20111ae84a86.gif" alt="">
</div>

{% endblock %}