{% extends "layout.njk" %}

{% block head %}

    <title>Challenge 3-1: About</title>

{% endblock %}

{% block content %}

    <div id="wrapper">
        <img src="https://cdn-images-1.medium.com/max/1200/1*TkXVfLTwsHdwpUEjGzdi9w.jpeg" alt="Logo-Rocketseat">
        <h1>Rocketseat</h1>
        <h2>Rocketseat is a enterprise focused on giving the developer community direction on its way and along the way, become an excellent dev in no time.</h2>
        <ul>
            <li>JavaScript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>React</li>
        </ul>
    </div>

    <div id="links-footer" class="links">
        <a href="https://github.com/Rocketseat" target="_blank">GitHub</a>
        <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt-br" target="_blank">Instagram</a>
        <a href="https://www.facebook.com/rocketseat/" target="_blank">Facebook</a>
    </div>

{% endblock %}