{% extends 'layout.njk' %}

{% block content %}

    <div class="card table-container">
        <a href="/students/create">Add</a>
        <table width="100%">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Accompaniment</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                            <span style="background-image: url({{ student.avatar_url }})"></span>
                            {{ student.name }}</td>

                        <td>
                            {% for subject in student.subjects %}
                                <span class="subjects">{{ subject }}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="/students/{{ student.id }}">Show</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock content %}